@import url('http://fonts.googleapis.com/css?family=Satisfy');

body{
	background-color: #000;
}

.jammu{
	text-align: center;
	padding-top: 110px;
	font-family: 'Satisfy', cursive;
	font-size: 80px;
	font-weight: 700px;
	color: transparent;
	text-shadow:
	0 0 2px rgba(255, 255, 255, 1),
	0 0 20px  #ff00de,
	0 0 40px  #ff00de,
	0 0 60px  #ff00de,
	0 0 80px  #ff00de;

}
span{
	-webkit-animation:blink .3s alternate infinite;
	        animation:blink .3s alternate infinite;
}

span.jay{
	
	-webkit-animation-duration:6s;
            animation-duration:6s;
	-webkit-animation-delay:2s;
	        animation-delay:2s;
	

}

@-webkit-keyframes blink{
   
   0%{ opacity: 1.0;}

   50%{ opacity: 0.6;}

   100%{ opacity: 1.0;}

}

@keyframes blink{
   
   0%{ opacity: 1.0;}

   50%{ opacity: 0.6;}

   100%{ opacity: 1.0;}

}